<!DOCTYPE html>
<html>
  <head>
    <title>Frontend test</title>
    <!-- js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="script.js"></script>
    <!-- CSS -->
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img id="logo" src="./images/logo.png" />
        <input id ="search" type="text" />
        <span class="social"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></span>
        <span class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></span>
        <i id="hamburger" class="fa fa-bars fa-2x" aria-hidden="true"></i>
        <img id="exit" src="./images/close.svg" />
      </div>
      <div class="cat"></div>

      <div class="articles">
        <div class="articles_content">

        </div>
      </div>
      <div class="sidediv">
        <p id="mest">MEST SETT</p>
      </div>

    </div>
  </body>
</html>
